<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
    <div id="app-container" class="fill">{{{html}}}</div>
    <script src="http://localhost:4000/main.js"></script>
</body>
</html>
